<<<<<<< HEAD
/* styles.css */

/* Input text style */
input[type="text"] {
    padding: 8px;
    margin-right: 8px;
  }
  
  /* Button style */
  button {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  /* Paragraph style for display text */
  p {
    margin-top: 16px;
  }
=======
/* styles.css */

/* Input text style */
input[type="text"] {
    padding: 8px;
    margin-right: 8px;
  }
  
  /* Button style */
  button {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  /* Paragraph style for display text */
  p {
    margin-top: 16px;
  }
>>>>>>> 81bbfd2e89cc3be69f6a9125871d1892574a1233
  